<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/801df24b2e.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- css adding -->
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>
    <div class="s-accountbody">
        <div class="container">
            <div class="s-accountimg">
                <img src="https://p.kindpng.com/picc/s/78-785827_user-profile-avatar-login-account-male-user-icon.png"
                    alt="">
            </div>
        </div>
        <div class="s-details">
            <h3>
                <%= accountInfo.UserName %>
            </h3>
            <p>
                <%= accountInfo.Organization %>
            </p>
            <p>
                <%= accountInfo.Address %>
            </p>
            <p>
                <%= accountInfo.Type %>
            </p>
            <button class="s-order">CONTACTS</button>
            <a href="/profile/<%=accountInfo._id%>">ADD HERE</a>
            <div class="chats_" style="display:none">
              <% for(i=0;i<accountInfo.chats.length;i++){%>
                <form action="/chat" method="post">
                  <input type="hidden" value="<%=accountInfo.UserName%>" name="user"/>
                  <button type="submit" name="button" value="<%=accountInfo.chats[i]%>"><%=accountInfo.chats[i]%></button>
                </form>
              <%}%>
            </div>
        </div>
    </div>
</body>

</html>
