<%- include('comn/header') -%>

    <div class="s_container" style="margin: 0 20px;">
        <% for(var i=0; i < productArr.length; i++){ %>
            <!-- main product items container -->
            <div class="row s_product_cont">
                <div class="col-md-4 s_product_img">
                    <img src="https://images.unsplash.com/photo-1544621678-f17b5b909559?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">

                </div>
                <div class="col-md-8 s_product_des">
                    <h2>
                        <%= productArr[i].Name %>
                    </h2>
                    <div class="s-subtitle">
                        <div class="s-rating">
                            <%= productArr[i].Review %><i class="fas fa-star"
                                    style="font-size: 10px; text-align: center; padding: 2px;"></i>
                        </div>
                        <div class="s-text">Rating and reviews</div>
                    </div>
                    <div class="s-prise">
                        <h2><i class="fas fa-rupee-sign"></i>
                            <%= productArr[i].Prise %>
                        </h2>
                    </div>
                    <dev class="s-description">
                        <p>
                            <%= productArr[i].Description.substring(0, 200) %>
                                <form action="/singleProduct/<%= productArr[i]._id %>" id="1" method="POST">
                                  <input type="hidden" name="userid" value="<%=accountid%>">
                                    <button class="s-more" type="submit">Open</button>
                                </form>
                        </p>
                    </dev>
                    <div class="s-buttons">
                        <button class="s-order">ORDER</button>
                        <button class="s-addtocart"><i class="fas fa-shopping-cart"></i> Add-to-cart</button>
                        <button class="chat"><i class="far fa-comment-alt"></i></button>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <%=accountid%>
</body>

</html>
